body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

p {
    font-size: 56px;
}